.categories {
  display: flex;
  padding: 20px;
}
.categories_card {
  background-color: #191919;
  border-radius: 4px;
  width: 180px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 65px 30px rgba(34, 60, 80, 0.2);
  position: relative;
}
.categories_card:hover {
  background-color: #2a2a2a;
  opacity: 0.9;
  cursor: pointer;
  border: none;
  z-index: 0;
}
.categories_card-img {
  padding-top: 15px;
  width: 160px;
}
.categories_card-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories_card-title {
  color: #fff;
  text-align: center;
  font-weight: normal;
  padding-top: 10px;
}
.categories_card-desc {
  color: #dcdbdb;
  font-size: 14px;
  text-align: center;
  padding-bottom: 15px;
}

.display_icon {
  position: absolute;
  width: 50px;
  right: 8px;
  bottom: 110px;
  z-index: 100;
}

// background color
.back_color {
  background: linear-gradient(#3d3d3d, #1d1d1d);
}
