.musics_page {
  position: absolute;
  top: 60px;
  left: 15%;
  height: 100%;
  width: 85%;
}
.play_listAuthor-block {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  z-index: 0;
}
.play_listAuthor-block_img {
  width: 250px;
  box-shadow: 3px 3px 65px 30px rgba(34, 60, 80, 0.2);
  border: black;
  border-radius: 4px;
}
.play_listAuthor-block_right {
  margin-left: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.play_listAuthor-block_text {
  display: flex;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  align-items: center;
}
.play_listAuthor-block_title {
  font-weight: bold;
  color: #fff;
  font-size: 70px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.grey {
  color: #acb8be;
}
.playList_block-svgLike {
  width: 30px;
  cursor: pointer;
  margin: 0 10px;
}

.down_Playmusics {
  padding-bottom: 70px;
}
@media (max-width: 426px) {
  .musics_page {
    position: relative;
    max-width: 100%;
    width: 100%;
    left: 0;
    top: 60px;
    background-color: #181818;
    height: 100vh;
    z-index: 0;
  }
  .down_Playmusics {
    padding-bottom: 80px;
  }
  .play_listAuthor-block {
    padding: 15px 10px 15px 15px;
  }
  .play_listAuthor-block_right {
    margin-left: 15px;
  }
  .play_listAuthor-block_img {
    width: 150px;
  }
  .play_listAuthor-block_title {
    font-size: 24px;
  }
  .play_listAuthor-block_text {
    font-size: 14px;
  }

  .playList_block-svgLike {
    width: 20px;
  }
}
