// Navbar
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 85%;
  height: 60px;
  display: flex;
  justify-content: end;
  background-color: #181818;
  display: flex;
  align-items: center;
  z-index: 99;
}
.navbar_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-right: 30px;
}
.navbar_block2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin-right: 30px;
}
.button_signUp {
  background: none;
  border: none;
  color: rgb(195, 190, 190);
  font-size: 16px;
  height: 30px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
}
.button_signUp:hover {
  color: #fff;
  font-size: 17px;
}
.button_signIn {
  font-size: 16px;
  width: 110px;
  height: 45px;
  cursor: pointer;
  color: #20201c;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: 500;
}
.button_signIn:hover {
  font-size: 17px;
  width: 115px;
  height: 50px;
  color: black;
}

.burger_mobile {
  width: 30px;
  margin-right: 10px;
  display: none;
}

@media (max-width: 426px) {
  .burger_mobile {
    display: flex;
    margin-left: 10px;
  }
  .navbar {
    left: 0;
    top: 0;
    max-width: 100%;
    width: 100%;
  }
  .navbar_block {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 0;
  }
  .navbar_block2 {
    max-width: 100%;
    margin-right: 0;
    width: auto;
  }
  .button_signUp {
    font-size: 14px;
    margin-right: 10px;
  }
  .button_signIn {
    font-size: 14px;
    width: 70px;
    height: 30px;
    margin-right: 10px;
  }
}
