.playList_block {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #646464;
  padding: 0 20px;
  max-width: 100%;
}
.playList_block1 {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 100%;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.playList_block-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.5px solid #999797;
}
.playList_block-svg {
  width: 30px;
  cursor: pointer;
  margin: 0 10px;
}
.playList_block-svg:hover {
  fill: #fff !important;
}
.playList_block-div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.playList_block-num {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #d0cbcb;
  margin-right: 10px;
}
.playList_block-title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #d0cbcb;
}
.playList_block-artist {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 5px;
  color: #999797;
}
// bar equalizer
$bars: 20;

.container_bar {
  width: 50px;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}
.bar {
  width: 5px;
  min-height: 2px;
  margin-right: 1px;
  box-shadow: 0 10px 15px #000;
}
.playList_block-artist-mobile {
  display: none;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 5px;
  color: #999797;
}

$multiplier: 100 / $bars;
@for $i from 0 through $bars {
  .bar:nth-child(#{$i}) {
    $saturation: 100 - (($i + 1) * $multiplier);
    background-color: hsla(0, $saturation, 50%, 1);
    animation: grow#{$i} #{random(700) + 1500}ms alternate infinite;
  }

  @keyframes grow#{$i} {
    @for $j from 0 through 10 {
      #{$j * 10}% {
        height: #{random(20)}px;
      }
    }
  }
}
@media (max-width: 426px) {
  .playList_block {
    max-width: 100%;
    padding: 0 10px;
  }
  .playList_block-svg {
    width: 25px;
  }
  .playList_block-artist-mobile {
    display: block;
  }
  .playList_block-artist {
    display: none;
  }
  .playList_block-num {
    font-size: 14px;
  }
}
